---
layout: base
tags: pages
---
{# 
<div class="max-w-max">
  <img src="/assets/images/gapi/Illustration_01.jpg" style="width:100%" />
</div> #}

<div class="grid grid-cols-12 gap-4">

  <div class="hidden md:block invisible xl:visible xl:col-span-1"></div>

  <div class="col-span-12 xl:col-span-10 py-12" style="background-color:white;">

    <article class="{{ structure.g_pageWidth }}"> <!-- px-8 md:px-16 lg:px-32 -->

      {# <h1 class="p-2 shadow-md border border-indego-300 {{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">{{ seo.title or title }}</h1> #}
      {# <h1 class=" {{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">{{ seo.title or title }}</h1> #}
      <h1>{{ seo.title or title }}</h1>

      

      {# font-extrabold border rounded-lg border-indego-300 p-2 bg-gray-200 #}

      {% if seo.description %}
        {# <h4 class="pt-4 text-indigo-800"> #}
        <h4 class="text-indigo-800 {{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">
          {{ seo.description }}
        </h4>
      {% endif %} 

      {{ content | safe }}

    </article>

  </div>

  <div class="hidden md:block invisible xl:visible xl:col-span-1"></div>

  
</div>
