---
layout: base
tags: pages
---

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 xl:col-span-7">

    <article class="{{ structure.g_pageWidth }}">

      <h1>{{ seo.title or title }}</h1>

      {% if seo.description %}
        <div class="p-2 {{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">
          {{ seo.description }}
        </div>
      {% endif %}

      {{ content | safe }}

    </article>

  </div>

  <div class="invisible xl:visible xl:col-span-3">
    <div class="p-4 italic text-gray-600 bg-indigo-100 border rounded-lg border-indego-300">This form uses the <a class="font-semibold text-indigo-700 underline" href="https://docs.netlify.com/forms/spam-filters/#extra-spam-prevention">basic spam and recaptcha features provided by Netlify</a> . But you could wire in your own form validation if you like. Take a look at <a class="font-semibold text-indigo-700 underline" href="https://github.com/mattkingshott/iodine">Iodine.js</a> if you don't already have a fave form validator.</div>
  </div>

  <div class="invisible xl:visible xl:col-span-2"></div>
</div>
