h1 {
    color: #1a202c;
}

h2 {
    color: #1a202c;
    border-bottom-width: 2px !important;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0
}

h3 {
    margin-top: 1em;
}

h6 {
    margin-top: 1.5em;
}

a.call-to-action {
    color: #fff;
    background-color: #2c7a7b;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-color: #234e52;
    border-radius: 0.5rem;
    border-width: thin;
    border-style: solid;
}

a.call-to-action:hover {
    background-color: #234e52;
    border-color: yellow;
    color: yellow;
}
