@font-face {
    font-family: "Roboto";
    src: url("/assets/images/fonts/Roboto-Regular.ttf") 
}

@font-face {
    font-family: "Roboto Bold";
    src: url("/assets/images/fonts/Roboto-Black.ttf") 
}

@font-face {
    font-family: "Roboto Medium";
    src: url("/assets/images/fonts/Roboto-Medium.ttf") 
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("/assets/images/fonts/RobotoCondensed-Regular.ttf") 
}

body {
    font-family: 'Roboto';
    /*background-color: #f7f7f7;*/
    font-size: 1.2em;
}

img {
    width: 100%;
}

img.img-40 {
    width: 75%;
}

img.img-50 {
    width: 50%;
}

img.img-60 {
    width: 60%;
}

img.img-75 {
    width: 100%;
}

h1 {
    font-family: 'Roboto Bold';
    /* color: #486381; */
    /* color: #005EAB; */
    color: #004e94;
    
}

h2 {
    font-family: 'Roboto Bold';
    /* color: #486381; */
    color: #004e94;
    border-bottom-width: 2px !important;
    border-width: 0;
    border-style: solid;
    border-color: #92abc6;
}

h3 {
    font-family: 'Roboto Bold';
    color: #004e94;
    margin-top: 1em;
    font-size: 1em;
}

h6 {
    margin-top: 1.5em;
    color: #004e94;
}

.color-blue-gapi {
    color: #004e94;
}

.color-yellow-gapi {
    color: #FBB040;
}

footer {
    /* background-color: #3f6188; */
    /*background-color: #004e94;*/
    font-size: 1em;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    font-family: 'Roboto Medium';
    font-size: 1em;
}

nav a.active {
    color: #fbb040;
}

a.call-to-action {
    color: #004e94;
    background-color: #FBB040;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-color: #234e52;
    border-radius: 0.5rem;
    border-width: thin;
    border-style: solid;
}

a.call-to-action:hover {
    background-color: #234e52;
    border-color: yellow;
    color: yellow;
}

.hero-img {
    width: 35%;
    float: left;
    margin-right: 2em;
}

.hero-img-2 {
    width: 100%;
}

.hero-title {
    font-size: 1.2em;
}

.hero-text {
    font-size: 1.2em;
}

.hero-sub-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
}

.clearAll {
    visibility: hidden;
    clear: both;
}

.hero-img-right {
    width: 100%;
    padding: 2.5em;
    
    /*
    float: right;
    padding-right: 2em;*/
}

.img-silhouette {
    width: 42%;
    padding: 0;
    float: right;
    
    /*
    float: right;
    padding-right: 2em;*/
}

.img-changement {
    margin-top: 8.5em;
}

.img-logo {
    width:261px;
}

.width-100 {
    width: 100%;
}

.border-dark {
    border-color: #92abc6;
}

.google-map {
    margin-top: 1.5em;
    width: 100%; 
    height: 200%
}

@media only screen and (min-width: 600px) {
    img.img-40 {
        width: 60%;
    }
    
    .hero-img-right {
        width: 35%;
        float: right;
        padding-right: 2em;
    }

    .hero-img-2 {
        width: 45%;
        float: left;
        margin-right: 2em;
        /* border-width: 1px; */
    }

    .hero-title {
     font-size: 1.5em;
    }

    .img-changement {
        margin-top: 5.5em;
        width: 30%;
    }

    h3 {
        font-size: 1.25em;
    }
  }

  @media only screen and (min-width: 992px) {
    img.img-40 {
        width: 40%;
    }
    .img-logo {
        width:341px;
    }

    img.img-75 {
        width: 75%;
    }

    .google-map {
        width: 100%; 
        height: 175%
    }
    
  }
